streamlit>=1.32.0
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-core
chromadb
pypdf
python-dotenv
tiktoken
BingImageCreator
setuptools
sentence-transformers
oss2
docx2txt
pysqlite3-binary
